{% extends 'base.html.twig' %}

{% block title %}Erreur de Paiement - LeBipBip{% endblock %}

{% block content %}
    <h2>Erreur de Paiement</h2>
    <p>
        Bonjour <strong> {{order.user.firstname|capitalize}} {{order.user.lastname|upper}}</strong>, <br> <br>
        Une erreur de paiement est survenue pour votre commande N° : <strong> {{order.reference}} </strong><br>
        Le ticket d'erreur vient de vous être envoyer par email à l'adresse : <strong> {{order.user.email}}</strong>.
    </p>
    <hr>
   <a href="{{path('order')}}" class="btn btn-success">Réessayer le paiement</a>
{% endblock %}
